bin/*
build/*
conf/*
data/*
include/*
extern/*
lib/*
log/*
test.conf
test.ini

*.raw
*.log
*.root
*.dat

*.zip
!main/lib/python/extern/pybind11*zip
*.rar
*.tar
*.7z
*.gz
*.xz
*.bz
*.bz2

.*
\#*#
*~
*.pyc

Thumbs.db

cmake/eudaqConfig.cmake
cmake/eudaqConfigVersion.cmake
cmake/eudaqTargets-relwithdebinfo.cmake
cmake/eudaqTargets.cmake
