language: cpp

sudo: required

dist: trusty

branches:
  only:
    - master
    - v1.6-dev

# set here versions / file paths
env:
   global:
      - ROOT5_FILENAME_LINUX=root_v5.34.36.Linux-ubuntu14-x86_64-gcc4.8.tar.gz
      - ROOT5_FILENAME_MAC=root_v5.34.36.macosx64-10.9-clang60.tar.gz
      - ROOT6_FILENAME_LINUX=root_v6.06.04.Linux-ubuntu14-x86_64-gcc4.8.tar.gz
      - ROOT6_FILENAME_MAC=root_v6.06.04.macosx64-10.9-clang60.tar.gz
      
      - CMAKE_DOWNLOAD_PATH=https://cmake.org/files/v3.5
      - CMAKE_FILENAME_LINUX=cmake-3.5.2-Linux-x86_64.tar.gz
      - CMAKE_FILENAME_MAC=cmake-3.5.2-Darwin-x86_64.tar.gz
      
      - OPENAFS_DOWNLOAD_PATH_MAC=http://www.openafs.org/dl/openafs/1.6.6/macos-10.9
      - OPENAFS_FILENAME_MAC=OpenAFS-1.6.6-Mavericks.dmg
      
      - BUILD_AHCAL=OFF
      - BUILD_BIFAHCAL=OFF
      - BUILD_TESTING=OFF
      - BUILD_WITH_QT4=OFF
      - BUILD_allproducer=OFF
      - BUILD_altro=OFF
      - BUILD_altroUSB=OFF
      - BUILD_apixct=OFF
      - BUILD_calice=ON
      - BUILD_ccpdlf=OFF
      - BUILD_clicpix=OFF
      - BUILD_cmspixel=OFF
      - BUILD_depfet=ON
      - BUILD_eudrb=OFF
      - BUILD_example=OFF
      - BUILD_explorer=ON
      - BUILD_fortis=ON
      - BUILD_gui=ON
      - BUILD_main=OFF
      - BUILD_manual=OFF
      - BUILD_mimoroma=ON
      - BUILD_mimosa32=ON
      - BUILD_miniTLU=OFF
      - BUILD_mupix=OFF
      - BUILD_mvd=OFF
      - BUILD_ni=ON
      - BUILD_nreader=OFF
      - BUILD_offlinemon=OFF
      - BUILD_onlinemon=ON
      - BUILD_palpidefs=OFF
      - BUILD_palpidess=OFF
      - BUILD_pixelmanproducer=OFF
      - BUILD_pybar=OFF
      - BUILD_python=ON
      - BUILD_root=OFF
      - BUILD_taki=OFF
      - BUILD_timepixdummy=OFF
      - BUILD_tlu=ON
      - BUILD_usbpix=OFF

      
# possible options:
# Linux/Mac
# gcc/clang
# ROOT 5/6
# QT 4/5
# Python 2/3    not realized yet

# in order to reduce options:
# Linux/Mac
# gcc/clang
# modern (ROOT 6, QT 5, Python 3) / old (ROOT 5, QT 4, Python 2)
# results in 8 combinations
# documentation to be "compiled" in maximum one option

matrix:      
   include:
      - os: linux
        compiler: gcc
        env: OPTION=modern BUILD_manual=ON
        python: 3.5
      - os: linux      
        compiler: gcc      
        env: OPTION=old
        python: 2.7        
      - os: linux
        compiler: clang      
        env: OPTION=modern
        python: 3.5        
      - os: linux
        compiler: clang      
        env: OPTION=old
        python: 2.7        
      - os: osx      
        compiler: gcc    
        env: OPTION=modern
        python: 3.5        
      - os: osx
        compiler: gcc      
        env: OPTION=old
        python: 2.7        
      - os: osx
        compiler: clang      
        env: OPTION=modern
        python: 3.5        
      - os: osx      
        compiler: clang      
        env: OPTION=old
        python: 2.7        

before_install:
  - source .travis/before_install.sh
  
install:
  - source .travis/install.sh

before_script:
  - $CXX --version
  - $CC --version

script:
  #- cmake -DBUILD_onlinemon=ON -DBUILD_calice=ON -DBUILD_eudrb=OFF -DBUILD_explorer=ON -DBUILD_depfet=ON -DBUILD_fortis=ON -DBUILD_mimoroma=ON -DBUILD_mimosa32=ON  -DBUILD_ni=ON  -DBUILD_tlu=ON -DBUILD_python=ON ..
  - cd build  
  - cmake -DBUILD_AHCAL=$BUILD_AHCAL -DBUILD_BIFAHCAL=$BUILD_BIFAHCAL -DBUILD_TESTING=$BUILD_TESTING -DBUILD_WITH_QT4=$BUILD_WITH_QT4 -DBUILD_allproducer=$BUILD_allproducer -DBUILD_altro=$BUILD_altro -DBUILD_altroUSB=$BUILD_altroUSB -DBUILD_apixct=$BUILD_apixct -DBUILD_calice=$BUILD_calice -DBUILD_ccpdlf=$BUILD_ccpdlf -DBUILD_clicpix=$BUILD_clicpix -DBUILD_cmspixel=$BUILD_cmspixel -DBUILD_depfet=$BUILD_depfet -DBUILD_eudrb=$BUILD_eudrb -DBUILD_example=$BUILD_example -DBUILD_explorer=$BUILD_explorer -DBUILD_fortis=$BUILD_fortis -DBUILD_gui=$BUILD_gui -DBUILD_main=$BUILD_main -DBUILD_manual=$BUILD_manual -DBUILD_mimoroma=$BUILD_mimoroma -DBUILD_mimosa32=$BUILD_mimosa32 -DBUILD_miniTLU=$BUILD_miniTLU -DBUILD_mupix=$BUILD_mupix -DBUILD_mvd=$BUILD_mvd -DBUILD_ni=$BUILD_ni -DBUILD_nreader=$BUILD_nreader -DBUILD_offlinemon=$BUILD_offlinemon -DBUILD_onlinemon=$BUILD_onlinemon -DBUILD_palpidefs=$BUILD_palpidefs -DBUILD_palpidess=$BUILD_palpidess -DBUILD_pixelmanproducer=$BUILD_pixelmanproducer -DBUILD_pybar=$BUILD_pybar -DBUILD_python=$BUILD_python -DBUILD_root=$BUILD_root -DBUILD_taki=$BUILD_taki -DBUILD_timepixdummy=$BUILD_timepixdummy -DBUILD_tlu=$BUILD_tlu -DBUILD_usbpix=$BUILD_usbpix ..
  - make install

