language: cpp

sudo: required

dist: trusty

branches:
  only:
    - master
    - v1.6-dev

# set here versions / file paths
env:
   global:
      - ROOT5_FILENAME_LINUX=root_v5.34.36.Linux-ubuntu14-x86_64-gcc4.8.tar.gz
      - ROOT5_FILENAME_MAC=root_v5.34.36.macosx64-10.9-clang60.tar.gz
      - ROOT6_FILENAME_LINUX=root_v6.06.04.Linux-ubuntu14-x86_64-gcc4.8.tar.gz
      - ROOT6_FILENAME_MAC=root_v6.06.04.macosx64-10.9-clang60.tar.gz
      
      - CMAKE_DOWNLOAD_PATH=https://cmake.org/files/v3.5
      - CMAKE_FILENAME_LINUX=cmake-3.5.2-Linux-x86_64.tar.gz
      - CMAKE_FILENAME_MAC=cmake-3.5.2-Darwin-x86_64.tar.gz
      
      - OPENAFS_DOWNLOAD_PATH_MAC=http://www.openafs.org/dl/openafs/1.6.6/macos-10.9
      - OPENAFS_FILENAME_MAC=OpenAFS-1.6.6-Mavericks.dmg
      
# possible options:
# Linux/Mac
# gcc/clang
# ROOT 5/6
# QT 4/5
# Python 2/3

# in order to reduce options:
# Linux/Mac
# gcc/clang
# modern (ROOT 6, QT 5, Python 3) / old (ROOT 5, QT 4, Python 2)
# results in 8 combinations
# documentation to be "compiled" in maximum one option

matrix:      
   include:
      - os: linux
        compiler: gcc
        env: OPTION=modern
      - os: linux      
        compiler: gcc      
        env: OPTION=old
      - os: linux
        compiler: clang      
        env: OPTION=modern
      - os: linux
        compiler: clang      
        env: OPTION=old
      - os: osx      
        compiler: gcc    
        env: OPTION=modern
      - os: osx
        compiler: gcc      
        env: OPTION=old
      - os: osx
        compiler: clang      
        env: OPTION=modern
      - os: osx      
        compiler: clang      
        env: OPTION=old

before_install:
  - source .travis/before_install.sh
  
install:
  - source .travis/install.sh

before_script:
  # For Mac OS X we still need to source the root environment:
  # - if [ $TRAVIS_OS_NAME == osx ]; then source $(brew --prefix root)/libexec/thisroot.sh; fi
  - $CXX --version
  - $CC --version
  - cd build

script:
  - cmake -DBUILD_onlinemon=ON -DBUILD_calice=OFF -DBUILD_eudrb=ON -DBUILD_explorer=ON -DBUILD_depfet=ON -DBUILD_fortis=ON -DBUILD_mimoroma=ON -DBUILD_mimosa32=ON  -DBUILD_ni=ON  -DBUILD_tlu=ON ..
  - make install

