version: 1.7.0.{build}

pull_requests:
  do_not_increment_build_number: true
  
branches:
  only:
  - master
  - v1.7-dev

image: Visual Studio 2015

configuration: Release

#  - x64
platform: x86 

# comments on options:
# BIFAHCAL: Requires cactus and does not compile properly on Windows
# cmspixel: Required pxar compiles on Windows but there are some minor problems afterwards
# 
environment:
  matrix:
    - build_type: full
      ROOTSYS: C:\root
      PATH: '%ROOTSYS%\bin;C:\Qt\5.8\msvc2015;C:\Python36;C:\Miniconda36;C:\Miniconda36\\Scripts;%PATH%'
      BUILD_AHCAL: OFF
      BUILD_BIFAHCAL: OFF
      BUILD_TESTING: OFF
      BUILD_WITH_QT4: OFF
      BUILD_allproducer: OFF
      BUILD_altro: OFF
      BUILD_altroUSB: OFF
      BUILD_cmspixel: OFF
      BUILD_depfet: OFF
      BUILD_drs4: ON
      BUILD_fortis: OFF
      BUILD_gui: ON
      BUILD_main: OFF
      BUILD_manual: OFF
      BUILD_mimoroma: OFF
      BUILD_miniTLU: OFF
      BUILD_ni: ON
      BUILD_nreader: OFF
      BUILD_offlinemon: OFF
      BUILD_onlinemon: ON
      BUILD_palpidefs: OFF
      BUILD_pixelmanproducer: OFF
      BUILD_python: ON
      BUILD_root: ON
      BUILD_taki: OFF
      BUILD_timepixdummy: OFF
      BUILD_tlu: ON
      IGNORE_KNOWN_ISSUES: ON
      PYTHON: "C:\\Python36"
      PYTHON_VERSION: "3.6.1" 
      PYTHON_ARCH: "32"
    - build_type: minimum
      ROOTSYS: C:\root
      PATH: '%ROOTSYS%\bin;C:\Qt\5.8\msvc2015;C:\Python36;C:\Miniconda36;C:\Miniconda36\\Scripts;%PATH%'
      BUILD_AHCAL: OFF
      BUILD_BIFAHCAL: OFF
      BUILD_TESTING: OFF
      BUILD_WITH_QT4: OFF
      BUILD_allproducer: OFF
      BUILD_altro: OFF
      BUILD_altroUSB: OFF
      BUILD_cmspixel: OFF
      BUILD_depfet: OFF
      BUILD_drs4: OFF
      BUILD_fortis: OFF
      BUILD_gui: ON
      BUILD_main: OFF
      BUILD_manual: OFF
      BUILD_mimoroma: OFF
      BUILD_miniTLU: OFF
      BUILD_ni: ON
      BUILD_nreader: OFF
      BUILD_offlinemon: OFF
      BUILD_onlinemon: ON
      BUILD_palpidefs: OFF
      BUILD_pixelmanproducer: OFF
      BUILD_python: ON
      BUILD_root: OFF
      BUILD_taki: OFF
      BUILD_timepixdummy: OFF
      BUILD_tlu: ON
      IGNORE_KNOWN_ISSUES: OFF
      PYTHON: "C:\\Python36"
      PYTHON_VERSION: "3.6.1" 
      PYTHON_ARCH: "32"      
    - build_type: library_only
      ROOTSYS: C:\root
      PATH: '%ROOTSYS%\bin;C:\Qt\5.8\msvc2015;C:\Python36;C:\Miniconda36;C:\Miniconda36\\Scripts;%PATH%'
      BUILD_AHCAL: OFF
      BUILD_BIFAHCAL: OFF
      BUILD_TESTING: OFF
      BUILD_WITH_QT4: OFF
      BUILD_allproducer: OFF
      BUILD_altro: OFF
      BUILD_altroUSB: OFF
      BUILD_cmspixel: OFF
      BUILD_depfet: OFF
      BUILD_drs4: OFF
      BUILD_fortis: OFF
      BUILD_gui: OFF
      BUILD_main: OFF
      BUILD_manual: OFF
      BUILD_mimoroma: OFF
      BUILD_miniTLU: OFF
      BUILD_ni: OFF
      BUILD_nreader: OFF
      BUILD_offlinemon: OFF
      BUILD_onlinemon: OFF
      BUILD_palpidefs: OFF
      BUILD_pixelmanproducer: OFF
      BUILD_python: OFF
      BUILD_root: OFF
      BUILD_taki: OFF
      BUILD_timepixdummy: OFF
      BUILD_tlu: OFF
      IGNORE_KNOWN_ISSUES: OFF
      PYTHON: "C:\\Python36"
      PYTHON_VERSION: "3.6.1" 
      PYTHON_ARCH: "32"        

cache:
  - '%APPVEYOR_BUILD_FOLDER%\extern\ZestSC1'
  - '%APPVEYOR_BUILD_FOLDER%\extern\tlufirmware'
  - '%APPVEYOR_BUILD_FOLDER%\extern\libusb-win32'
  - '%APPVEYOR_BUILD_FOLDER%\extern\alice-its-alpide-software-master-3189f00d7515733d46a61a5ab2606e436df4955b'
  - '%APPVEYOR_BUILD_FOLDER%\extern\tinyxml'  
  
init:
# The following line enables the remote desktop connection and show the connection information.
- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
- '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x86'
# This is a workaround for a whole lot of annoying warnings about non-existing targets.
- cmd: del "C:\Program Files (x86)\MSBuild\14.0\Microsoft.Common.targets\ImportAfter\Xamarin.Common.targets"

# Install Python (from the official .msi of http://python.org) and pip when not already installed.
# This was copied from 
- ps: if (-not(Test-Path($env:PYTHON))) { & appveyor\install_python.ps1 }    
# Prepend newly installed Python to the PATH of this build (this cannot be
# done from inside the powershell script as it would require to restart
# the parent CMD process).
- "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
# Check that we have the expected version and architecture for Python
- "python --version"
- "python -c \"import struct; print(struct.calcsize('P') * 8)\""
# Upgrade to the latest version of pip to avoid it displaying warnings
# about it being out of date.
- "pip install --disable-pip-version-check --user --upgrade pip"
# Install the build dependencies of the project. If some dependencies contain
# compiled extensions and are not provided as pre-built wheel packages,
# pip will build them from source using the MSVC compiler matching the
# target Python version and architecture
- "%CMD_IN_ENV% pip install -r appveyor\\dev-requirements.txt"    
    
before_build:    
- ps: Write-Host "Downloading root from root.cern.ch"; appveyor\download.ps1 -downloadLocation 'https://root.cern.ch/download/root_v5.34.36.win32.vc12.zip' -storageLocation 'C:\\root_v5.34.36.win32.vc12.zip'; 7z -y x C:\\root_v5.34.36.win32.vc12.zip -oC:\; 

- ps: appveyor\install_afs.ps1;

- ps: Restart-Computer -Force

- ps: Start-Sleep -s 10;

build_script:
- ps: If( Test-Path("\\afs\desy.de\group\telescopes\")) { Write-Host("Afs seems to work properly")} ElseIf ( Test-Path("\\cern.ch\")) {Write-Host("Afs seems to work properly, but desy afs down?"); } Else { Write-Host("Something wrong with the afs installation"); }

- ps: If (Test-Path ("${env:APPVEYOR_BUILD_FOLDER}" + "\extern\ZestSC1")) {Write-Host ("Reusing cached ZestSC1 " + "${env:APPVEYOR_BUILD_FOLDER}" + "\extern\ZestSC1" + " instead of copying from AFS")} Else {Write-Host "Copying ZestSC1 from AFS"; Copy-item "\\afs\desy.de\group\telescopes\tlu\ZestSC1" -destination ("${env:APPVEYOR_BUILD_FOLDER}" + "\extern\ZestSC1") -recurse}

- ps: If (Test-Path ("${env:APPVEYOR_BUILD_FOLDER}" + "\extern\tlufirmware")) {Write-Host ("Reusing cached tlufirmware " + "${env:APPVEYOR_BUILD_FOLDER}" + "\extern\tlufirmware" + " instead of copying from AFS")} Else {Write-Host "Copying tlufirmware from AFS"; Copy-item "\\afs\desy.de\group\telescopes\tlu\tlufirmware" -destination ("${env:APPVEYOR_BUILD_FOLDER}" + "\extern\tlufirmware") -recurse}

- ps: If (Test-Path ("${env:APPVEYOR_BUILD_FOLDER}" + "\extern\libusb-win32")) {Write-Host ("Reusing cached libusb-win32 " + "${env:APPVEYOR_BUILD_FOLDER}" + "\extern\libusb-win32" + " instead of downloading from sourcefourge (which can be sometimes unreliable...)")} Else {Write-Host "Downloading libusb-win32 from sourceforge"; appveyor\download.ps1 -downloadLocation 'https://sourceforge.net/projects/libusb-win32/files/libusb-win32-releases/1.2.6.0/libusb-win32-bin-1.2.6.0.zip' -storageLocation 'C:\\libusb-win32-bin-1.2.6.0.zip'; $zipargument = ("-o" + "${env:APPVEYOR_BUILD_FOLDER}" + "\extern\"); 7z -y x C:\\libusb-win32-bin-1.2.6.0.zip $zipargument;  Rename-Item -path ("${env:APPVEYOR_BUILD_FOLDER}" + "\extern\libusb-win32-bin-1.2.6.0") -newName ("${env:APPVEYOR_BUILD_FOLDER}" + "\extern\libusb-win32")}

- ps: If (${env:BUILD_cmspixel} -eq "ON") { Write-Host("Installing pxarcore as required by cmspixel producer"); . ".\appveyor\install_pxar.ps1" }

- ps: If (${env:BUILD_palpidefs} -eq "ON") { Write-Host("Installing palpidefs drivers as required by palpidefs producer"); . ".\appveyor\install_tinyxml.ps1";. ".\appveyor\install_palpidefs_driver.ps1" }
- ps: If (${env:BUILD_palpidefs} -eq "ON") { [Environment]::SetEnvironmentVariable("PALPIDEFS_SPECIAL_PARAMETERS", "-DCMAKE_PALPIDEFS_DRIVER_INCLUDE:FILEPATH=%APPVEYOR_BUILD_FOLDER%\extern\alice-its-alpide-software-master-3189f00d7515733d46a61a5ab2606e436df4955b\pALPIDEfs-software -DUSE_TINYXML=on -DUSE_ROOT=on", "Process"); } Else { [Environment]::SetEnvironmentVariable("PALPIDEFS_SPECIAL_PARAMETERS", "", "Process"); }

- cd %APPVEYOR_BUILD_FOLDER%\build

- cmd: echo -DIGNORE_KNOWN_ISSUES=%IGNORE_KNOWN_ISSUES% -DBUILD_AHCAL=%BUILD_AHCAL% -DBUILD_BIFAHCAL=%BUILD_BIFAHCAL% -DBUILD_TESTING=%BUILD_TESTING% -DBUILD_WITH_QT4=%BUILD_WITH_QT4% -DBUILD_allproducer=%BUILD_allproducer% -DBUILD_altro=%BUILD_altro% -DBUILD_altroUSB=%BUILD_altroUSB% -DBUILD_cmspixel=%BUILD_cmspixel% -DBUILD_depfet=%BUILD_depfet% -DBUILD_drs4=%BUILD_drs4% -DBUILD_fortis=%BUILD_fortis% -DBUILD_gui=%BUILD_gui% -DBUILD_main=%BUILD_main% -DBUILD_manual=%BUILD_manual% -DBUILD_mimoroma=%BUILD_mimoroma% -DBUILD_miniTLU=%BUILD_miniTLU% -DBUILD_ni=%BUILD_ni% -DBUILD_nreader=%BUILD_nreader% -DBUILD_offlinemon=%BUILD_offlinemon% -DBUILD_onlinemon=%BUILD_onlinemon% -DBUILD_palpidefs=%BUILD_palpidefs% -DBUILD_pixelmanproducer=%BUILD_pixelmanproducer% -DBUILD_python=%BUILD_python% -DBUILD_root=%BUILD_root% -DBUILD_taki=%BUILD_taki% -DBUILD_timepixdummy=%BUILD_timepixdummy% -DBUILD_tlu=%BUILD_tlu% ..

- cmd: cmake -DIGNORE_KNOWN_ISSUES=%IGNORE_KNOWN_ISSUES% -DBUILD_AHCAL=%BUILD_AHCAL% -DBUILD_BIFAHCAL=%BUILD_BIFAHCAL% -DBUILD_TESTING=%BUILD_TESTING% -DBUILD_WITH_QT4=%BUILD_WITH_QT4% -DBUILD_allproducer=%BUILD_allproducer% -DBUILD_altro=%BUILD_altro% -DBUILD_altroUSB=%BUILD_altroUSB% -DBUILD_cmspixel=%BUILD_cmspixel% -DBUILD_depfet=%BUILD_depfet% -DBUILD_drs4=%BUILD_drs4% -DBUILD_fortis=%BUILD_fortis% -DBUILD_gui=%BUILD_gui% -DBUILD_main=%BUILD_main% -DBUILD_manual=%BUILD_manual% -DBUILD_mimoroma=%BUILD_mimoroma% -DBUILD_miniTLU=%BUILD_miniTLU% -DBUILD_ni=%BUILD_ni% -DBUILD_nreader=%BUILD_nreader% -DBUILD_offlinemon=%BUILD_offlinemon% -DBUILD_onlinemon=%BUILD_onlinemon% -DBUILD_palpidefs=%BUILD_palpidefs% %PALPIDEFS_SPECIAL_PARAMETER% -DBUILD_pixelmanproducer=%BUILD_pixelmanproducer% -DBUILD_python=%BUILD_python% -DBUILD_root=%BUILD_root% -DBUILD_taki=%BUILD_taki% -DBUILD_timepixdummy=%BUILD_timepixdummy% -DBUILD_tlu=%BUILD_tlu%  ..

# - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

- cmd: msbuild INSTALL.vcxproj

after_build:
- cmd: 7z -o%APPVEYOR_BUILD_FOLDER% a eudaq_win32_%APPVEYOR_REPO_TAG_NAME%.zip %APPVEYOR_BUILD_FOLDER%
- cmd: dir %APPVEYOR_BUILD_FOLDER%

artifacts:
  - path: eudaq_win32_%APPVEYOR_REPO_TAG_NAME%.zip
    name: Releases

deploy:
  provider: GitHub
  auth_token:
    secure: "FXNTEGEjMMl3FZLCp4cXO0Szn3CVs4lEf+pPxz6vbb9q/PHkD5N2gAgOR+zljtll"
  artifact: Releases
  overwrite: true
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true
    
on_finish:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
